.background {
    background-color: rgba(3, 155, 229, 1.0);
}

.signup-logo {
    font-family: 'Lobster', cursive;
    color: #E0E0E0;
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
}

.signup-box {
    display: flex;
    background-color: #E0E0E0;
    margin: 10px 35%;
    height: 300px;
    flex-direction: column;
    padding: 25px;
    border-radius: 15px;
}

input {
    height: 30px;
    width: auto;
    display: inline;
}

#margin {
    margin-top: 20px;
}

.font-size {
    font-size: 10px;
    text-align: center;
}

#btn {
    margin-top: 20px;
    background-color: blue;
    color: whitesmoke;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
}

#back-to-home {
    margin-left: 77%;
    width: 108px;
    margin-top: 20px;
    text-decoration: none;
    background-color: whitesmoke;
    text-align: center;
    height: 20px;
    padding: 5px;
}

#btn:hover {
    background-color: teal;
}

#back-to-home:hover {
    background-color: teal;
    color: white;
}

@media only screen and (max-width: 600px) {
 
  
    #back-to-home {
        margin-left: 0px ; 
    }
    }
    @media only screen and (max-width: 768px) {
      #back-to-home{ 
      margin-left: 15% ;  
    }   
    }